@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(232, 214, 255);
}

h1 {
    font-size: 2.4rem;
}

.form-div {
    background-color: rgb(243, 233, 255);
    padding: 24px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
} */

input, textarea {
    padding: 4px;
    border-radius: 8px;
    border: 3px solid rgb(221, 195, 255);;
}

input[name="name"], input[name="email"] , textarea {
    margin-bottom: 15px;
}

input[name="email"] {
    width: 250px;
}

button {
    width: 150px;
    font-weight: bolder;
    border: none;
    background-color: rgb(217, 186, 255);
    padding: 8px;
    border-radius: 8px;

    display: block;
    margin: auto;
}

button:hover {
    background-color: rgb(255, 255, 255);
}